<h3><center>
	The site simulates generating a passphrase using diceware.
</center></h3>
	
<div id="dAbout"; style="width: 50%; margin-left: auto; margin-right: auto;">
	<ul>
		<li>The <a href="world.std.com/~reinhold/diceware.html">diceware site</a> discusses how to generate a passphrase by rolling dice.</li>
		<li>This site simulates dice rolls to generate a passphrase describe by the link above.</li>
	</ul>
</div>

