<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title> {{title}} </title>
		<link rel="stylesheet" type="text/css" href='/css/base.css'>
		<style>p.indent{ padding-top:0.5em }</style>
	</head>
	<body>
		<center>
			<h1>Diceware Simulator</h1>
			<h2 id="hbout">
				<a href='/'>Generate Passphrase</a> |
				<a href='/about'>About</a>
			</h2>
		</center>
		<p class='indent'>
		{{{body}}}
		</p>
	</body>
</html>
