<!DOCTYPE html>
<html>
	<form method='GET' action=''>
		<label><input type='radio' name='filterCategory' value='breakfast'> Breakfast </label>
		<label><input type='radio' name='filterCategory' value='lunch'> Lunch  </label>
		<label><input type='radio' name='filterCategory' value='dinner'> Dinner </label>
		<label><input type='radio' name='filterCategory' value='anytime'> Anytime </label>
		<input type='submit' value='Filter Meals'/>
	</form>

	<h2 id='subtitle'>Recommended Meals</h2>	
	
	<div id='recFood'>	
		<ul style='list-style-type:none'>	
			{{#each database}}
				<div id='disFood'> 
					<li>{{this.name}} ({{this.category}})</li>
				</div>
				<li>{{this.description}}</li>
			{{/each}}
		</ul>
	</div>
		
	<h2 id='subtitle'>Add a Meal Recommendation</h2> 
	<form method='POST' action=''>
		Name: <input type='text' name='name' value=''>
		Description: <input type='text' name='description' value=''>
		<label><input type='radio' name='category' value='breakfast'> Breakfast </label>	
		<label><input type='radio' name='category' value='lunch'> Lunch </label>	
		<label><input type='radio' name='category' value='dinner'> Dinner </label>	
		<label><input type='radio' name='category' value='anytime'> Anytime </label>
		<input type='submit' value='Add Meal'/>	
	</form>
</html>
